<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div id="header">
    <img id="icon" src="../assets/logowithoutbackground_1.png" height="100em">
    <i id="share" (click)="shareApp()" class="fa fa-share-alt fa-2x"></i>

  </div>

    <div class="paragrph">
    <div id="firstP">SupplyME</div>
    <p id="content">ניהול ספקים , הזמנה וקבלת סחורה , מעקב נוח על הרכש הכל בנייד שלך</p>
    <div class="buttons">
      <button class="button button1 " (click)="toSupplyMe()" routerLinkActive="active"> נסה בחינם</button>
      <button class="button button1 " (click)="call()" routerLinkActive="active"> ליצירת קשר</button>
    </div>
  </div>
<div class="paragrph">
    <div class="links">

      <iframe src="https://www.youtube.com/embed/dbngXs3DsUQ" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>

      <div class="showApp">
        <img id="hand" src="../assets/schermafbeelding%202018-01-28%20om%20122748%202.png">
      </div>
    </div>
</div>
  <div class="icons">
    <div class="flex">
      <div>
        <i class="fas fa-bolt fa-2x"></i>
        <label> מהירות</label>
      </div>
      <div>
        <i class="fas fa-coffee fa-2x"></i>
        <label> נוחות </label>
      </div>
      <div>
        <i class="far fa-lightbulb fa-2x"></i>
        <label> יעילות </label>
      </div>
    </div>
  </div>
</div>
